<div class="popup-title">
    Thank you for purchasing!
</div>

<div class="name-r">
    Dear @ViewBag.buyername,
</div>
<div class="">
    <p class="message"><br>As this is a paid note you need to pay to seller @ViewBag.sellerfirstname @ViewBag.sellerlastname offline. We will send him an email that you want to download this note. He may contact you frther for payment process completion.<br><br>In case you have urgency.<br>Please contact us on +9195377345959.<br><br>Once he acknowledge us - selected notes you can see over my downloads tab for download.<br><br>Have a good day.</p>
</div>
